In [3]:
import pandas as pd
import numpy as np
sheet_name='T6 Wine production'
df = pd.read_excel('Wine_History.xlsx', 
                         sheet_name=sheet_name, header=1, index_col=None)
df.index.rename('year',inplace=True)
df=df.reset_index()

In [4]:
df.head()

,year,1865,6946000.29825,1829807.221201828,215100,1494356,172138.9266666667,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 44,700,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,12673148.24913022,Unnamed: 53
0,0,1866,6431678.50,2.173405e+06,215700.0,1548267.0,168054.260000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.253196e+07,NaN
1,1,1867,3942146.00,2.145163e+06,150000.0,1602178.0,163969.593333,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.028657e+07,NaN
2,2,1868,5248873.50,2.124539e+06,179700.0,1656089.0,159885.000000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.200536e+07,NaN
3,3,1869,7052500.00,2.284411e+06,187700.0,1710000.0,123090.000000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.355780e+07,NaN
4,4,1870,5494401.25,2.415184e+06,279300.0,1710000.0,89793.000000,NaN,NaN,NaN,...,NaN,700.0,NaN,NaN,NaN,NaN,NaN,NaN,1.175602e+07,NaN

In [19]:
sheets=['T6 Wine production','T8 Wine prodn per capita','T10 Wine export vol','T15 Wine import vol',\
       'T34 Wine consumption vol','T38 Wine consumption per capita','T58 Population','T96 Wine cons intensity index']
dfs=[];
for i in range(0,len(sheets)):
    dfs.append('df'+str(i));

In [23]:
for df, sheet in zip(dfs, sheets):
    print(sheet)
    df = pd.read_excel('Wine_History.xlsx', sheet_name=sheet, header=1, index_col=None)
    print(df.shape)
    print(df.dtypes)
    print(list(df))

T6 Wine production
(151, 54)
1865                   int64
6946000.29825        float64
1829807.221201828    float64
215100               float64
1494356              float64
172138.9266666667    float64
Unnamed: 6           float64
Unnamed: 7           float64
Unnamed: 8           float64
165000               float64
117775.8796853334    float64
Unnamed: 11          float64
Unnamed: 12          float64
Unnamed: 13          float64
60000                  int64
0                    float64
23761.72069838       float64
79114.27334330021    float64
Unnamed: 18          float64
Unnamed: 19          float64
225005               float64
Unnamed: 21          float64
184095                 int64
250000               float64
Unnamed: 24          float64
11939.54614608965    float64
5051.954545454546    float64
17.5                 float64
432.6923076923077    float64
10000                float64
4180.01408           float64
19887.52272964386    float64
22165.3596701688     float64
428.4417320259971    float64
2414.978747638419    float64
711.829966061732     float64
7819.2               float64
82.83408291390938    float64
14708.62957480315    float64
279.3450830625728    float64
21000                float64
53.02525455353346    float64
Unnamed: 42          float64
Unnamed: 43          float64
Unnamed: 44          float64
700                  float64
Unnamed: 46          float64
Unnamed: 47          float64
Unnamed: 48          float64
Unnamed: 49          float64
Unnamed: 50          float64
Unnamed: 51          float64
12673148.24913022    float64
Unnamed: 53          float64
dtype: object
[1865, 6946000.29825, 1829807.221201828, 215100, 1494356, 172138.9266666667, 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 165000, 117775.8796853334, 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 60000, 0, 23761.72069838, 79114.27334330021, 'Unnamed: 18', 'Unnamed: 19', 225005, 'Unnamed: 21', 184095, 250000, 'Unnamed: 24', 11939.54614608965, 5051.954545454546, 17.5, 432.6923076923077, 10000, 4180.01408, 19887.52272964386, 22165.3596701688, 428.4417320259971, 2414.978747638419, 711.829966061732, 7819.2, 82.83408291390938, 14708.62957480315, 279.3450830625728, 21000, 53.02525455353346, 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 700, 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 12673148.24913022, 'Unnamed: 53']
T8 Wine prodn per capita
(151, 54)
1865                       int64
182.6933271501841        float64
67.98466361515244        float64
51.20209473934777        float64
93.86658291457286        float64
39.30112480974126        float64
Unnamed: 6               float64
Unnamed: 7               float64
Unnamed: 8               float64
4.347253326307469        float64
33.71768671209086        float64
Unnamed: 11              float64
Unnamed: 12              float64
Unnamed: 13              float64
23.26483132997286        float64
0                        float64
9.149680669380055        float64
30.84978488722953        float64
Unnamed: 18              float64
Unnamed: 19              float64
39.28159916201115        float64
Unnamed: 21              float64
20.72150153361284        float64
2.943202086141635        float64
Unnamed: 24              float64
Unnamed: 25              float64
3.242589567043996        float64
0.09326701012613253      float64
0.1278641571194763       float64
0.2775357951824445       float64
2.56                     float64
2.128344047594997        float64
11.42961601105997        float64
0.04837869602822912      float64
7.906159671990063        float64
0.03757921700722172      float64
2.369237551770933        float64
0.02502168594478521      float64
4.206193687816377        float64
0.215934111741515        float64
1.807057851666371        float64
0.0004056069776599225    float64
Unnamed: 42              float64
Unnamed: 43              float64
Unnamed: 44              float64
0.0207033947317839       float64
Unnamed: 46              float64
Unnamed: 47              float64
Unnamed: 48              float64
Unnamed: 49              float64
Unnamed: 50              float64
Unnamed: 51              float64
10.2772235955706         float64
Unnamed: 53              float64
dtype: object
[1865, 182.6933271501841, 67.98466361515244, 51.20209473934777, 93.86658291457286, 39.30112480974126, 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 4.347253326307469, 33.71768671209086, 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 23.26483132997286, 0, 9.149680669380055, 30.84978488722953, 'Unnamed: 18', 'Unnamed: 19', 39.28159916201115, 'Unnamed: 21', 20.72150153361284, 2.943202086141635, 'Unnamed: 24', 'Unnamed: 25', 3.242589567043996, 0.09326701012613253, 0.1278641571194763, 0.2775357951824445, 2.56, 2.128344047594997, 11.42961601105997, 0.04837869602822912, 7.906159671990063, 0.03757921700722172, 2.369237551770933, 0.02502168594478521, 4.206193687816377, 0.215934111741515, 1.807057851666371, 0.0004056069776599225, 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 0.0207033947317839, 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 10.2772235955706, 'Unnamed: 53']
T10 Wine export vol
(148, 56)
1865                     int64
286828.9               float64
27269.9                float64
36505                  float64
108191.394             float64
16378.3                float64
Unnamed: 6             float64
Unnamed: 7             float64
Unnamed: 8             float64
13073.122645072        float64
2872                   float64
Unnamed: 11            float64
Unnamed: 12            float64
Unnamed: 13            float64
246                    float64
10345.34531712         float64
5298.86371573874       float64
1107.599826806203      float64
Unnamed: 18            float64
Unnamed: 19            float64
54902.40839224097      float64
Unnamed: 21            float64
34.38776349348631      float64
0                      float64
Unnamed: 24            float64
2483.425598386648      float64
232.414                float64
Unnamed: 27            float64
Unnamed: 28            float64
195.20002              float64
0.1                    float64
Unnamed: 31            float64
Unnamed: 32            float64
Unnamed: 33            float64
Unnamed: 34            float64
Unnamed: 35            float64
23.4                   float64
Unnamed: 37            float64
424.1                  float64
Unnamed: 39            float64
Unnamed: 40            float64
Unnamed: 41            float64
Unnamed: 42            float64
Unnamed: 43            float64
Unnamed: 44            float64
Unnamed: 45            float64
Unnamed: 46            float64
Unnamed: 47            float64
Unnamed: 48            float64
Unnamed: 49            float64
Unnamed: 50            float64
Unnamed: 51            float64
566411.7612788581      float64
Unnamed: 53            float64
566411.7612788581.1    float64
98.82993353832465      float64
dtype: object
[1865, 286828.9, 27269.9, 36505, 108191.394, 16378.3, 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 13073.122645072, 2872, 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 246, 10345.34531712, 5298.86371573874, 1107.599826806203, 'Unnamed: 18', 'Unnamed: 19', 54902.40839224097, 'Unnamed: 21', 34.38776349348631, 0, 'Unnamed: 24', 2483.425598386648, 232.414, 'Unnamed: 27', 'Unnamed: 28', 195.20002, '0.1', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 23.4, 'Unnamed: 37', 424.1, 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 566411.7612788581, 'Unnamed: 53', '566411.7612788581.1', 98.82993353832465]
T15 Wine import vol
(151, 56)
1865                   int64
9962.210000000001    float64
22069.3              float64
Unnamed: 3           float64
10273.168            float64
6243.3               float64
Unnamed: 6           float64
Unnamed: 7           float64
Unnamed: 8           float64
Unnamed: 9           float64
16983                float64
Unnamed: 11          float64
Unnamed: 12          float64
Unnamed: 13          float64
Unnamed: 14          float64
Unnamed: 15          float64
64871.14877712       float64
Unnamed: 17          float64
Unnamed: 18          float64
Unnamed: 19          float64
Unnamed: 20          float64
Unnamed: 21          float64
Unnamed: 22          float64
Unnamed: 23          float64
Unnamed: 24          float64
Unnamed: 25          float64
Unnamed: 26          float64
0                    float64
Unnamed: 28          float64
Unnamed: 29          float64
Unnamed: 30          float64
Unnamed: 31          float64
Unnamed: 32          float64
Unnamed: 33          float64
Unnamed: 34          float64
Unnamed: 35          float64
Unnamed: 36          float64
37886.77685950413    float64
Unnamed: 38          float64
Unnamed: 39          float64
Unnamed: 40          float64
Unnamed: 41          float64
Unnamed: 42          float64
Unnamed: 43          float64
Unnamed: 44          float64
Unnamed: 45          float64
Unnamed: 46          float64
Unnamed: 47          float64
Unnamed: 48          float64
Unnamed: 49          float64
Unnamed: 50          float64
Unnamed: 51          float64
Unnamed: 52          float64
566411.7612788581    float64
Unnamed: 54          float64
Unnamed: 55          float64
dtype: object
[1865, 9962.210000000001, 22069.3, 'Unnamed: 3', 10273.168, 6243.3, 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 16983, 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 64871.14877712, 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 0, 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 37886.77685950413, 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 566411.7612788581, 'Unnamed: 54', 'Unnamed: 55']
T34 Wine consumption vol

(149, 55)
1865                   int64
5464816.636166667    float64
2193162.165489782    float64
Unnamed: 3           float64
1342526.774          float64
166088.5933333334    float64
Unnamed: 6           float64
Unnamed: 7           float64
Unnamed: 8           float64
Unnamed: 9           float64
178243.2106882613    float64
Unnamed: 11          float64
Unnamed: 12          float64
Unnamed: 13          float64
Unnamed: 14          float64
Unnamed: 15          float64
54525.80346          float64
Unnamed: 17          float64
Unnamed: 18          float64
Unnamed: 19          float64
Unnamed: 20          float64
Unnamed: 21          float64
Unnamed: 22          float64
Unnamed: 23          float64
Unnamed: 24          float64
Unnamed: 25          float64
Unnamed: 26          float64
4436.597734782261    float64
Unnamed: 28          float64
Unnamed: 29          float64
41863.38293281       float64
Unnamed: 31          float64
Unnamed: 32          float64
22165.3596701688     float64
Unnamed: 34          float64
Unnamed: 35          float64
Unnamed: 36          float64
44946.21019283747    float64
Unnamed: 38          float64
Unnamed: 39          float64
Unnamed: 40          float64
Unnamed: 41          float64
Unnamed: 42          float64
Unnamed: 43          float64
Unnamed: 44          float64
Unnamed: 45          float64
Unnamed: 46          float64
Unnamed: 47          float64
Unnamed: 48          float64
Unnamed: 49          float64
Unnamed: 50          float64
Unnamed: 51          float64
Unnamed: 52          float64
11287842.68259361    float64
Unnamed: 54          float64
dtype: object
[1865, 5464816.636166667, 2193162.165489782, 'Unnamed: 3', 1342526.774, 166088.5933333334, 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 178243.2106882613, 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 54525.80346, 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 4436.597734782261, 'Unnamed: 28', 'Unnamed: 29', 41863.38293281, 'Unnamed: 31', 'Unnamed: 32', 22165.3596701688, 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 44946.21019283747, 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 11287842.68259361, 'Unnamed: 54']
T38 Wine consumption per capita
(149, 55)
1865                   int64
143.7353139444152    float64
81.48475443023527    float64
Unnamed: 3           float64
84.32957123115578    float64
37.91977016742771    float64
Unnamed: 6           float64
Unnamed: 7           float64
Unnamed: 8           float64
Unnamed: 9           float64
4.696172063977377    float64
Unnamed: 11          float64
Unnamed: 12          float64
Unnamed: 13          float64
Unnamed: 14          float64
Unnamed: 15          float64
1.812150734820034    float64
Unnamed: 17          float64
Unnamed: 18          float64
Unnamed: 19          float64
Unnamed: 20          float64
Unnamed: 21          float64
Unnamed: 22          float64
Unnamed: 23          float64
Unnamed: 24          float64
Unnamed: 25          float64
Unnamed: 26          float64
2.847623706535469    float64
Unnamed: 28          float64
Unnamed: 29          float64
1.16185872712846     float64
Unnamed: 31          float64
Unnamed: 32          float64
11.42961601105997    float64
Unnamed: 34          float64
Unnamed: 35          float64
Unnamed: 36          float64
13.61881637490536    float64
Unnamed: 38          float64
Unnamed: 39          float64
Unnamed: 40          float64
Unnamed: 41          float64
Unnamed: 42          float64
Unnamed: 43          float64
Unnamed: 44          float64
Unnamed: 45          float64
Unnamed: 46          float64
Unnamed: 47          float64
Unnamed: 48          float64
Unnamed: 49          float64
Unnamed: 50          float64
Unnamed: 51          float64
Unnamed: 52          float64
9.153817258359753    float64
Unnamed: 54          float64
dtype: object
[1865, 143.7353139444152, 81.48475443023527, 'Unnamed: 3', 84.32957123115578, 37.91977016742771, 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 4.696172063977377, 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 1.812150734820034, 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 2.847623706535469, 'Unnamed: 28', 'Unnamed: 29', 1.16185872712846, 'Unnamed: 31', 'Unnamed: 32', 11.42961601105997, 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 13.61881637490536, 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 9.153817258359753, 'Unnamed: 54']
T58 Population
(151, 55)
1865                   int64
38020                float64
26915                float64
4201                 float64
15920                float64
4380                 float64
Unnamed: 6           float64
4915                 float64
1799                 float64
1833                 float64
37955                  int64
3493                 float64
5595                 float64
3460                 float64
4092                 float64
2579                 float64
30089                float64
2597                 float64
2564.500000000003    float64
Unnamed: 19          float64
Unnamed: 20          float64
5728.000000000003    float64
Unnamed: 22          float64
8884.250000000007    float64
84941.50000000009    float64
Unnamed: 25          float64
34093.75             float64
1558                 float64
187.6333333333333    float64
3384                 float64
36031.38828786489    float64
1632.818             float64
9344.12965428053     float64
1939.291718          float64
8856                 float64
305.4553472015249    float64
18942.11808417768    float64
3300.302240336933    float64
3310.491670972831    float64
3496.897828886966    float64
1293.65888886034     float64
11621.09999999996    float64
130730.6271195167    float64
367377.1903643448    float64
100.5                float64
248585.8309802536    float64
33810.88024783483    float64
9700.999999999995    float64
732.5                float64
4700.250000000003    float64
77.00000000000004    float64
2308.75              float64
5638.75              float64
1233129.563765865    float64
Unnamed: 54          float64
dtype: object
[1865, 38020, 26915, 4201, 15920, 4380, 'Unnamed: 6', 4915, 1799, 1833, 37955, 3493, 5595, 3460, 4092, 2579, 30089, 2597, 2564.500000000003, 'Unnamed: 19', 'Unnamed: 20', 5728.000000000003, 'Unnamed: 22', 8884.250000000007, 84941.50000000009, 'Unnamed: 25', 34093.75, 1558, 187.6333333333333, 3384, 36031.38828786489, 1632.818, 9344.12965428053, 1939.291718, 8856, 305.4553472015249, 18942.11808417768, 3300.302240336933, 3310.491670972831, 3496.897828886966, 1293.65888886034, 11621.09999999996, 130730.6271195167, 367377.1903643448, 100.5, 248585.8309802536, 33810.88024783483, 9700.999999999995, 732.5, 4700.250000000003, 77.00000000000004, 2308.75, 5638.75, 1233129.563765865, 'Unnamed: 54']
T96 Wine cons intensity index
(53, 55)
1961                      int64
2.300116468696376       float64
2.611714344292315       float64
2.738624323760852       float64
1.940363051796599       float64
0.9418560063796437      float64
3.27613104524181        float64
0.3675005717187933      float64
0.2357231666595163      float64
0.3512868643522087      float64
0.4912529019335559      float64
1.360471029876809       float64
0.148055044341205       float64
0.2935196505146143      float64
0.2652732437494127      float64
1.25411006963276        float64
0.1159174995084453      float64
0.09213586438990881     float64
1.384482787184148       float64
Unnamed: 19             float64
Unnamed: 20             float64
1.388767725593565       float64
Unnamed: 22             float64
1.896124068659057       float64
0.3523746300208708      float64
Unnamed: 25             float64
0.5316997350414723      float64
0.2967503424957485      float64
0.127682740705415       float64
0.1698920110163891      float64
0.2376831849106967      float64
2.419061272231541       float64
0.5514057031107179      float64
2.460089518585331       float64
0.2073439524098029      float64
1.900445715548223       float64
0.03898612452666939     float64
1.820739082101899       float64
1.982794393074584       float64
1.266022757590827       float64
2.03922777195472        float64
0.7768486750290441      float64
0.3540631879759972      float64
0.01879207486573579     float64
0.05431906782100622     float64
0.001282966688722345    float64
0.00628292844525973     float64
0                       float64
0.08843401274589041     float64
0.1                     float64
0.05475018319388594     float64
0.2                     float64
0.3                     float64
1                         int64
Unnamed: 54             float64
dtype: object
[1961, 2.300116468696376, 2.611714344292315, 2.738624323760852, 1.940363051796599, 0.9418560063796437, 3.27613104524181, 0.3675005717187933, 0.2357231666595163, 0.3512868643522087, 0.4912529019335559, 1.360471029876809, 0.148055044341205, 0.2935196505146143, 0.2652732437494127, 1.25411006963276, 0.1159174995084453, 0.09213586438990881, 1.384482787184148, 'Unnamed: 19', 'Unnamed: 20', 1.388767725593565, 'Unnamed: 22', 1.896124068659057, 0.3523746300208708, 'Unnamed: 25', 0.5316997350414723, 0.2967503424957485, 0.127682740705415, 0.1698920110163891, 0.2376831849106967, 2.419061272231541, 0.5514057031107179, 2.460089518585331, 0.2073439524098029, 1.900445715548223, 0.03898612452666939, 1.820739082101899, 1.982794393074584, 1.266022757590827, 2.03922777195472, 0.7768486750290441, 0.3540631879759972, 0.01879207486573579, 0.05431906782100622, 0.001282966688722345, 0.00628292844525973, 0, 0.08843401274589041, '0.1', 0.05475018319388594, '0.2', '0.3', 1, 'Unnamed: 54']

In [24]:
df1.head()

NameError: name 'df1' is not defined